*{
    margin: 0;
    padding: 0;
}
body{
    background: #080808;
}

.container{
    width: 50%;
    margin: 80px auto;
}
.container h1{
    padding: 20px 0;
    color: #fff;
    font-size: 44px;
    text-align: center;
}
.container h2{
    color: #fff;
    font-size: 20px;
    text-align: center;
}
.col{
    flex-basis: 50%;
    min-height: 250px;
}
.small-img-row{
    display: flex;
    background: #efefef;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    border-radius: 6px;
    overflow: hidden;
    width: 85%;
}
.small-img{
    position: relative;
}

.small-img img{
    width: 150px;
}
.small-img-row p{
    margin-left: 20px;
    color: #080808;
    line-height: 22px;
    font-size: 15px;
}
.btn{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #ff004f;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: white;
    transition: background 0.5s;
}
.btn:hover{
    background: #ff004f;
}

.play-btn{
    width: 60px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}
.small-img .play-btn{
    width: 35px;
}
.video-player{
    width: 80%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: none;
}
video:focus{
    outline: none;
}
.close-btn{
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    cursor: pointer;
}